body { font-family: sans-serif; background: #111; color: #fff; font-size:12px;}
#app {
  display: flex;
  height: 100vh;
}

#left {
  flex: 1;
  padding: 20px;
}

#right {
  width: 350px;
  background: #1a1a1a;
  border-left: 1px solid #333;
  padding: 10px;
  overflow-y: auto;
}

.seq-title {
  font-weight: bold;
}

.button {
  margin: 2px;
  background: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.ctl-btn {
  font-size: 16px;
}

.seq1 {
  color: #4da6ff;
}
.seq2 {
  color: #ff4d4d;
}
.playing {
  color: #0ff;
}

input {
  width: 50%;
  margin-bottom: 5px;
  padding: 5px;
  background: #222;
  color: white;
  border: 1px solid #444;
}



.button:hover {
  background: #555;
}


.row0 { display: flex; margin: 10px 0; }
.row1 { display: flex; margin: 10px 0; }
.step {
  width: 24px; height: 24px; margin: 2px;
  background: #333; cursor: pointer;
}
.step.active { background: #0f0; }
.step.playing { outline: 2px solid yellow; }





ul {
  padding-inline-start: 10px;
}

#patternList li {
  margin: 5px 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#patternList button {
  width: 60px;
  flex-shrink: 0;
}

#patternList span {
  flex: 1;
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected {
  background: #333;
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.popup-content {
  background: #222;
  padding: 20px;
}

#velocitySliders {
  display: flex;
  gap: 4px;
}

#velocitySliders input {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 20px;
  height: 120px;
}

#mixerSliders {
  display: flex;
  gap: 160px;
  align-items: flex-end;
}

.mixer-channel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 縦スライダー（新方式） */
.mixer-channel input {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 30px;
  height: 150px;
}

.mixer-channel span {
  margin-top: 6px;
  font-size: 12px;
}

.mixer-balance {
  width: 90%;
}

.group-end {
  margin-right: 12px;
}
