body {
  font-family: sans-serif; background: #111; color: #fff; font-size:13px;
  overflow-y: auto;
}


a:link {
  color: hsl(100, 40%, 50%);
}
a:visited {
  color: hsl(240, 60%, 70%);
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #ff938a;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


#left {
  padding: 20px;
  height: 100vh;
}
/*
#right {
  width: 350px;
  background: #1a1a1a;
  border-left: 1px solid #333;
  padding: 10px;
  overflow-y: auto;
}
*/
#right {
  position: fixed;
  top: 100px;
  right: 0;
  width: 350px;
  background: #222;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

#right.open {
  transform: translateX(0);
}

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.popup-content {
  background: #222;
  padding: 20px;
}
.hidden {
  display: none;
}


.button {
  margin: 2px;
  background: #222;
  color: #aaa;
  border: 1px solid #555;
  padding: 5px 10px;
  cursor: pointer;
}
.button:hover {
  background: #555;
}
.ctl-btn {
  font-size: 14px;
}
input[type="text"] {
  margin: 2px;
  margin-bottom: 5px;
  padding: 5px;
  background: #222;
  color: white;
  border: 1px solid #444;
}
.radio-label {
  display: flex;
  cursor: pointer;
  margin-bottom: 6px;
}
.radio-span {
  color: #aaa;
  padding-top: 3px;
  padding-left: 4px;
}


.track0,
.track1,
.track2 { padding: 5px; width: 60px; }
.row1,
.row2 { display: flex; margin: 10px 0; }
.step {
  width: 24px; height: 24px; margin: 2px;
  background: #333; cursor: pointer;
}
.step.active { background: #0f0; }
.step.playing { outline: 2px solid yellow; }



ul {
  padding-inline-start: 10px;
}
li {
  margin: 5px 0;
  justify-content: left;
  display: flex;
  align-items: center;
}
li span {
  width: 110px;
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#stepSliders {
  display: flex;
  gap: 10px;
}
#stepSliders input {
  -webkit-appearance: none;
  writing-mode: vertical-lr;
  direction: rtl;
  width: 20px;
  height: 170px;
  background: transparent;
}
#stepSliders input::-webkit-slider-runnable-track {
  width: 12px;
  background: linear-gradient(
    to top,
    hsl(240, 60%, 70%) 0%,
    hsl(240, 60%, 70%) var(--value),
    #444 var(--value),
    #444 100%
  );
  border-radius: 6px;
}
#stepSliders input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  background: hsl(240, 60%, 70%);
  border-radius: 50%;
  margin-left: -8px;
}


.mixer-sliders {
  display: grid;
  grid-template-columns: 15px 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.mixer-sliders input {
  -webkit-appearance: none;
  height: 30px;
  width: 170px;
  background: transparent;
}
.mixer-sliders input::-webkit-slider-runnable-track {
  height: 12px;
  background: linear-gradient(
    to right,
    hsl(240, 60%, 70%) 0%,
    hsl(240, 60%, 70%) var(--value),
    #444 var(--value),
    #444 100%
  );
  border-radius: 6px;
}
.mixer-sliders input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  background: hsl(240, 60%, 70%);
  border-radius: 50%;
  margin-top: -8px;
}
.mixer-sliders span {
  padding-left: 10px;
}
.mixer-balance {
  -webkit-appearance: none;
  writing-mode: vertical-lr;
  direction: rtl;
  width: 30px;
  height: 200px;
  background: transparent;
}
.mixer-balance::-webkit-slider-runnable-track {
  width: 12px;
  background: #444;
  border-radius: 6px;
}
.mixer-balance::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  background: hsl(240, 60%, 70%);
  border-radius: 50%;
  margin-left: -8px;
}


.tempo-div {
  display: flex;
}
#tempo-bar {
  width: 180px;
  height: 20px;
}

.shift-mode {
  display: flex;
}
.shift-mode span {
  margin-right: 10px;
}
.sound-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}


.group-end {
  margin-right: 12px;
}


#tabs {
  display: flex;
}
#tabs button {
  flex: 1;
  padding: 6px;
  background: #252526;
  color: #aaa;
  border: none;
  cursor: pointer;
}
#tabs button.active {
  font-weight: bold;
  color: hsl(40, 100%, 45%);
  background: #1e1e1e;
  /* border-bottom: 2px solid #007acc; */
}
#tabContents > div {
  padding: 8px;
  min-width: 350px;
  min-height: 110dvh;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-row {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 10px;
}
.form-label {
  font-weight: bold;
}
.form-item {
  display: flex;
  justify-content: center;
}



.seq1 {
/*
  color: hsl(210, 80%, 60%);
  color: #1e1e1e;
  color: #d4d4d4;
  color: #6a9955;
  color: #ce9178;
  color: #b5cea8;
  color: #007acc;
  color: #569cd6;
  color: #4FC1FF;
*/
  color: hsl(201, 100%, 70%);
}
.seq2 {
/*
  color: hsl(0, 80%, 60%);
  color: #ce9178;
*/
  color: hsl(5, 100%, 70%);
}
.snd {
/*
  color: hsl(280, 80%, 60%);
  color: #c586c0;
  color: hsl(275, 100%, 65%);
  color: #6a9955;
*/
  color: hsl(40, 100%, 45%);
}
.ptn {
/*
  color: hsl(45, 80%, 60%);
  color: #dcdcaa;
*/
  color: hsl(60, 100%, 45%);
}
.stg {
  color: #aaa;
}
.tit {
  color: #eee;
}
.playing {
/*
  color: hsl(140, 80%, 60%);
*/
  background: #044;
  color: #0ff;
}
.shift {
  color: hsl(40, 100%, 45%);
}
